<!--&lt;!&ndash; chat/templates/chat/room.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Chat Room</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Welcome to the Chat Room, {{ username }}</h2>-->
<!--    <div id="chat-log"></div>-->
<!--    <input id="chat-message-input" type="text" size="100">-->
<!--    <button id="chat-message-submit">Send</button>-->
<!--    <script>-->
<!--        const roomName = 'room';  // Single room name-->
<!--        const username = '{{ username }}';  // Username of the logged-in user-->

<!--        const chatSocket = new WebSocket(-->
<!--            'ws://' + window.location.host + '/ws/chat/' + roomName + '/');-->

<!--        chatSocket.onmessage = function(e) {-->
<!--            const data = JSON.parse(e.data);-->
<!--            document.querySelector('#chat-log').innerHTML += ('<b>' + data.username + ':</b> ' + data.message + '<br>');-->
<!--        };-->

<!--        chatSocket.onclose = function(e) {-->
<!--            console.error('Chat socket closed unexpectedly');-->
<!--        };-->

<!--        document.querySelector('#chat-message-input').focus();-->
<!--        document.querySelector('#chat-message-input').onkeyup = function(e) {-->
<!--            if (e.keyCode === 13) {  // Enter key-->
<!--                sendMessage();-->
<!--            }-->
<!--        };-->

<!--        document.querySelector('#chat-message-submit').onclick = function(e) {-->
<!--            sendMessage();-->
<!--        };-->

<!--        function sendMessage() {-->
<!--            const messageInputDom = document.querySelector('#chat-message-input');-->
<!--            const message = messageInputDom.value;-->
<!--            chatSocket.send(JSON.stringify({-->
<!--                'username': username,  // Send the username along with the message-->
<!--                'message': message-->
<!--            }));-->
<!--            messageInputDom.value = '';-->
<!--        }-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->


<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
</head>
<body>
    <h2>Welcome to the Chat Room, {{ username }}</h2>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>
    <script>
        const roomName = 'room';  // Single room name
        const username = '{{ username }}';  // Username of the logged-in user

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += ('<b>' + data.username + ':</b> ' + data.message + '<br>');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                sendMessage();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            sendMessage();
        };

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': username,  // Send the username along with the message
                'message': message
            }));
            messageInputDom.value = '';
        }
    </script>
</body>
</html>
